:root {
    --text-color: black;
    --inv-text-color: #ffffff;
    --body-color: #FFE8C2;
    --card-color:#4E0110;
    --header-color:#324376;
    --nav-color: #294936;

    /* colors from content team
    #294936    Brunswick green
    #324376    Marian blue
    #ffffff    White
    #FFE8C2    Wheat
    #4E0110    Chocolate cosmos
    */
}

/* styles.css */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #393E41;
    background-color: #D3D0CB;
}

header {
    position: relative;
    height: 100vh;
    /* Adjusted to cover the entire viewport height */
    overflow: hidden;
}

.top-bar {
    background-color: #1E2019;
    padding: 0.5em 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 0 1em;
}

.logo {
    max-height: 30px;
    margin: 0 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin: 0 1em;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #E2C044;
    font-size: 0.9em;
    font-weight: 300;
}

nav ul li a:hover {
    color: #587B7F;
}

nav ul li::after {
    content: "|";
    color: white;
    position: absolute;
    right: -1em;
}

nav ul li:last-child::after {
    content: "";
}

.header-image {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('images/monkey1.webp') no-repeat center center/cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Adjusted to align text at the bottom */
    align-items: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.header-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    /* Adjusted to control transparency gradient */
    background: linear-gradient(to bottom, rgba(30, 32, 25, 0), rgba(211, 208, 203, 1));
}

.header-text {
    position: relative;
    z-index: 1;
    margin-bottom: 20vh;
    /* Adjusted to create space for the header text */
}

.header-text h1 {
    font-size: 3em;
    margin: 0.5em 0;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Orbitron', Arial, sans-serif;
}

.header-text p {
    font-size: 1.5em;
    margin: 0;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Orbitron', Arial, sans-serif;
}

main {
    padding: 2em;
    text-align: center;
}

h1,
h2 {
    color: #393E41;
    font-family: 'Orbitron', Arial, sans-serif;
}

h2 {
    color: #587B7F;
}

footer {
    background-color: #1E2019;
    color: #E2C044;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.footer-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.footer-logo img {
    max-width: 100px;
}

.footer-nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer-nav ul li {
    margin: 0 0.5em;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #E2C044;
}

.footer-nav ul li a:hover {
    color: #587B7F;
}

.social-media {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* Add spacing between the icons */
}

.social-media a img {
    max-width: 50px;
    /* Increase the size of the icons */
    margin: 0 0.5em;
    transition: transform 0.3s ease;
}

.social-media a img:hover {
    transform: scale(1.1);
}

.app-advertisement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* Adjust as needed */
    padding: 20px;
    /* Adjust spacing */
    background-color: #1E2019;
    /* Background color for the footer */
    border-radius: 10px;
    /* Rounded corners for a professional look */
}

.app-advertisement .app-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Adjust spacing between QR code and text */
}

.app-advertisement .qr-code {
    max-width: 100px;
    /* Adjust size of QR code image */
    margin-right: 10px;
    /* Add spacing between QR code and text */
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: "roboto", sans-serif;
}

/*Purpose Page*/
.purpose-intro{
    padding: 1rem;
    margin: 1rem;
}

.purpose-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
}

.purpose-cards div {
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    width: 300px;
}

.purpose-cards img {
    margin: 0.5rem;
}

/* Features page */
#features {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    font-size: larger;
}

header,
footer {
    grid-column: 1/-1;
}

#features div {
    align-content: center;
    justify-self: center;
    text-align: left;
}


img {
    width: 50%;
    justify-self: center;
}

#img1 {
    grid-column: 2;
}
/* End Features page */

/* Contact Us Page */
.contact-Title{
    text-align: center;
    font-size: 3em;
}
.contact-FAQ{
    border: solid black;
    border-radius: 100px;
    padding: 25px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 2em;
}
.contact-QnA{
    padding-top: 0;
    text-align: left;
    font-size: 1rem;
}
.contact-Contact{
    margin-left: 30%;
    margin-right: 30%;
}

form {
    /* Center the form on the page */
    margin: 20px auto 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 5px solid white;
    border-radius: 1em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
form li + li {
    margin-top: 1em;
}
  
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
/* End of Contact Us Page */

body {
   font-family: 'Roboto', Arial, sans-serif;
   margin: 0;
   padding: 0;
   color: #294936; /* Brunswick Green */
   background-color: #FFE8C2; /* Wheat */
}

header {
   position: relative;
   height: 100vh;
   overflow: hidden;
}

.top-bar {
   background-color: #4E0110; /* Chocolate Cosmos */
   padding: 0.5em 0;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo-container {
   display: flex;
   align-items: center;
   margin: 0 1em;
}

.logo {
   max-height: 40px;
   margin: 0 0.5em;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   flex-grow: 1;
}

nav ul li {
   margin: 0 1em;
   position: relative;
}

nav ul li a {
   text-decoration: none;
   color: #FFE8C2; /* Wheat */
   font-size: 0.9em;
   font-weight: 300;
}

nav ul li a:hover {
   color: #324376; /* Marian Blue */
}

nav ul li::after {
   content: "|";
   color: #FFFFFF; /* White */
   position: absolute;
   right: -1em;
}

nav ul li:last-child::after {
   content: "";
}

.header-image {
   position: relative;
   width: 100%;
   height: 100%;
   background: url('monkey1.webp') no-repeat center center/cover;
   background-blend-mode: multiply;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   color: #FFFFFF; /* White */
   overflow: hidden;
}

.header-image::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 20%;
   background: linear-gradient(to bottom, rgba(78, 1, 16, 0), #FFE8C2); /* Chocolate Cosmos to Wheat */
}

.header-text {
   position: relative;
   z-index: 1;
   margin-bottom: 20vh;
}

.header-text h1 {
   font-size: 3em;
   margin: 0.5em 0;
   text-shadow: 2px 2px 4px #000;
   font-family: 'Orbitron', Arial, sans-serif;
}

.header-text p {
   font-size: 1.5em;
   margin: 0;
   text-shadow: 2px 2px 4px #000;
   font-family: 'Orbitron', Arial, sans-serif;
}

main {
   padding: 2em;
   text-align: center;
}

h1, h2 {
   color: #294936; /* Brunswick Green */
   font-family: 'Orbitron', Arial, sans-serif;
}

h2 {
   color: #324376; /* Marian Blue */
}

footer {
   background-color: #4E0110; /* Chocolate Cosmos */
   color: #FFE8C2; /* Wheat */
   text-align: center;
   padding: 1em 0;
   position: relative;
   width: 100%;
}

.footer-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1em;
}

.footer-logo {
   flex: 1;
   display: flex;
   justify-content: flex-start;
}

.footer-logo img {
   max-width: 150px;
}

.footer-nav {
   flex: 2;
   display: flex;
   justify-content: center;
}

.footer-nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
}

.footer-nav ul li {
   margin: 0 0.5em;
}

.footer-nav ul li a {
   text-decoration: none;
   color: #FFE8C2; /* Wheat */
}

.footer-nav ul li a:hover {
   color: #324376; /* Marian Blue */
}

.social-media {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Add spacing between the icons */
}

.social-media a img {
    max-width: 50px; /* Increase the size of the icons */
    margin: 0 0.5em;
    transition: transform 0.3s ease;
}

.social-media a img:hover {
    transform: scale(1.1);
}

.app-advertisement {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 20px; /* Adjust as needed */
   padding: 20px; /* Adjust spacing */
   background-color: #4E0110; /* Chocolate Cosmos */
   border-radius: 10px; /* Rounded corners for a professional look */
}

.app-advertisement .app-content {
   display: flex;
   align-items: center;
   margin-bottom: 10px; /* Adjust spacing between QR code and text */
}

.app-advertisement .qr-code {
   max-width: 100px; /* Adjust size of QR code image */
   margin-right: 10px; /* Add spacing between QR code and text */
}
