#features {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    font-size: larger;
}

#features div {
    align-content: center;
    justify-self: center;
}


img {
    width: 50%;
    justify-self: center;
}

#img1 {
    grid-column: 2;
}